[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-HTML5 .path1:before {
  content: "\e900";
  color: rgb(228, 77, 38);
}
.icon-HTML5 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(241, 101, 41);
}
.icon-HTML5 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-HTML5 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CSS3 .path1:before {
  content: "\e904";
  color: rgb(21, 114, 182);
}
.icon-CSS3 .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(51, 169, 220);
}
.icon-CSS3 .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CSS3 .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-CSS3 .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-CSS3 .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.icon-Sass:before {
  content: "\e90a";
  color: #cb6699;
}
.icon-Lessjs:before {
  content: "\e90b";
  color: #2a4d80;
}
.icon-Tailwind-CSS:before {
  content: "\e90c";
  color: #38bdf8;
}
.icon-JavaScript .path1:before {
  content: "\e90d";
  color: rgb(240, 219, 79);
}
.icon-JavaScript .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(50, 51, 48);
}
.icon-TypeScript .path1:before {
  content: "\e90f";
  color: rgb(255, 255, 255);
}
.icon-TypeScript .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 122, 204);
}
.icon-jQuery:before {
  content: "\e911";
  color: #0868ac;
}
.icon-React:before {
  content: "\e912";
  color: #61dafb;
}
.icon-Redux:before {
  content: "\e913";
  color: #764abc;
}
.icon-Nextjs:before {
  content: "\e914";
}
.icon-Nestjs:before {
  content: "\e915";
  color: #df234f;
}
.icon-Jest:before {
  content: "\e916";
  color: #99425b;
}
.icon-ESLint .path1:before {
  content: "\e917";
  color: rgb(128, 128, 242);
}
.icon-ESLint .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(75, 50, 195);
}
.icon-Nodejs:before {
  content: "\e919";
  color: #83cd29;
}
.icon-Express:before {
  content: "\e91a";
}
.icon-MongoDB .path1:before {
  content: "\e91b";
  color: rgb(67, 153, 52);
}
.icon-MongoDB .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(69, 165, 56);
}
.icon-MongoDB .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(70, 160, 55);
}
.icon-MongoDB .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(64, 148, 51);
}
.icon-MongoDB .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(79, 170, 65);
}
.icon-MongoDB .path6:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(74, 167, 60);
}
.icon-MongoDB .path7:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(87, 174, 71);
}
.icon-MongoDB .path8:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(96, 178, 79);
}
.icon-MongoDB .path9:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(169, 170, 136);
}
.icon-MongoDB .path10:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(182, 181, 152);
}
.icon-MongoDB .path11:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(194, 193, 167);
}
.icon-MongoDB .path12:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(206, 205, 183);
}
.icon-MongoDB .path13:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(219, 218, 199);
}
.icon-MongoDB .path14:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(235, 233, 220);
}
.icon-MongoDB .path15:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(206, 205, 183);
}
.icon-MongoDB .path16:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(79, 170, 65);
}
.icon-Nodemon .path1:before {
  content: "\e92b";
  color: rgb(118, 208, 75);
}
.icon-Nodemon .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(79, 77, 63);
}
.icon-Mongoosejs:before {
  content: "\e92d";
  color: #850000;
}
.icon-Docker .path1:before {
  content: "\e92e";
  color: rgb(58, 77, 84);
}
.icon-Docker .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 170, 218);
}
.icon-Docker .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(40, 184, 235);
}
.icon-Docker .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(2, 139, 184);
}
.icon-Docker .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(1, 155, 198);
}
.icon-Docker .path6:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 172, 211);
}
.icon-Docker .path7:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(35, 194, 238);
}
.icon-Docker .path8:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 172, 211);
}
.icon-Docker .path9:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(35, 194, 238);
}
.icon-Docker .path10:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 172, 211);
}
.icon-Docker .path11:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(35, 194, 238);
}
.icon-Docker .path12:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 172, 211);
}
.icon-Docker .path13:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(212, 238, 241);
}
.icon-Docker .path14:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(58, 77, 84);
}
.icon-Docker .path15:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(191, 219, 224);
}
.icon-Docker .path16:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(212, 238, 241);
}
.icon-Vercel:before {
  content: "\e93e";
}
.icon-Git:before {
  content: "\e93f";
  color: #f34f29;
}
.icon-NPM:before {
  content: "\e940";
  color: #cb3837;
}
.icon-Yarn:before {
  content: "\e941";
  color: #2c8ebb;
}
.icon-Material-UI .path1:before {
  content: "\e942";
  color: rgb(31, 166, 202);
}
.icon-Material-UI .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(28, 127, 182);
}
.icon-Material-UI .path3:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(31, 166, 202);
}
.icon-Material-UI .path4:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(28, 127, 182);
}
.icon-Ant-Design:before {
  content: "\e946";
}
.icon-Heroku:before {
  content: "\e947";
  color: #6762a6;
}
.icon-Slack .path1:before {
  content: "\e948";
  color: rgb(222, 28, 89);
}
.icon-Slack .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(53, 197, 240);
}
.icon-Slack .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(46, 181, 125);
}
.icon-Slack .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(235, 176, 46);
}
.icon-Figma .path1:before {
  content: "\e94c";
  color: rgb(10, 207, 131);
}
.icon-Figma .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(162, 89, 255);
}
.icon-Figma .path3:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(242, 78, 30);
}
.icon-Figma .path4:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 114, 98);
}
.icon-Figma .path5:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(26, 188, 254);
}
.icon-Postman .path1:before {
  content: "\e951";
  color: rgb(243, 112, 54);
}
.icon-Postman .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Postman .path3:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(243, 112, 54);
}
.icon-Insomnia .path1:before {
  content: "\e954";
  color: rgb(255, 255, 255);
}
.icon-Insomnia .path2:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(64, 0, 191);
}
.icon-Insomnia .path3:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-VS-Code .path1:before {
  content: "\e957";
  color: rgb(0, 101, 169);
}
.icon-VS-Code .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(0, 122, 204);
}
.icon-VS-Code .path3:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(31, 156, 240);
}
.icon-VS-Code .path4:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.25;
}
.icon-Webpack .path1:before {
  content: "\e95b";
  color: rgb(142, 214, 251);
}
.icon-Webpack .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(28, 120, 192);
}
.icon-Trello:before {
  content: "\e95d";
  color: #23719f;
}
.icon-LinkedIn .path1:before {
  content: "\e95e";
  color: rgb(0, 118, 178);
}
.icon-LinkedIn .path2:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-AngularJS .path1:before {
  content: "\e960";
  color: rgb(179, 179, 179);
}
.icon-AngularJS .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(166, 18, 13);
}
.icon-AngularJS .path3:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(221, 27, 22);
}
.icon-AngularJS .path4:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.icon-AngularJS .path5:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
