.header {
  background-color: var(--header-bg-color);
  border-bottom: 1px solid white;
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 100;

  &__wrapper {
    padding: 0 15px;
  }

  &__title {
    color: var(--text-color) !important;
    font-family: "Advent Pro", sans-serif;
    font-size: 48px !important;
    font-weight: lighter !important;
    letter-spacing: 0.1em;
    margin: 0 !important;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    color: var(--text-color) !important;
    font-family: Roboto, sans-serif;
    font-size: 24px !important;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 0 !important;
    text-align: center;
    text-transform: uppercase;

    span {
      border-top: 1px solid var(--text-color);
      display: inline-block;
    }
  }
}

.nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  &__link {
    color: var(--link-color);
    font-size: 24px !important;
    letter-spacing: 0.1em !important;
    font-weight: lighter !important;
    font-family: "Advent Pro", sans-serif;
    text-decoration: none;
    margin: 0 15px;
    &.active {
      color: var(--link-color-active);
      cursor: default;
    }
  }
}

.locale-switcher {
  width: 150px;
  height: 30px;
}
