.section {
  margin-bottom: 60px;

  &__wrapper {
    padding: 0 15px;
  }

  &__title {
    color: var(--text-color) !important;
    font-family: "Advent Pro", sans-serif;
    font-weight: bold !important;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 0.7em;
    text-align: center;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__subtitle {
    color: var(--text-color) !important;
    font-family: "Advent Pro", sans-serif;
    font-weight: lighter !important;
    letter-spacing: 0.05em;
    margin: 0;
    text-align: center;
  }
}
