:root {
  // colors
  --white: #fff;
  --white_50: rgba(255,255,255,.5);
  --white_75: rgba(255,255,255,.75);
  --black: #000;
  --black_0: rgba(0,0,0,0);
  --black_50: rgba(0,0,0,.5);
  --black_75: rgba(0,0,0,.75);
  --black_90: rgba(0,0,0,.9);
  --black-light: #191A20;
  --grey: #666;
  --grey-dark: #333;
  --grey-light: #999;
  --grey-lighter: #F5F5F5;
  --blue: #3e6691;
  --blue-light: #54F8D3;

  // --primary-color: #3F36E1;
  // --primary-color-hover: #3F36E1;

  // variables
  --background: var(--grey-lighter);
  --text-color: var(--black);
  --link-color: var(--blue);
  --link-color-active: var(--blue-light);
  --header-bg-color: var(--white);
  --footer-bg-color: var(--white);
  // --button-primary-bg-color: var(--primary-color);
  // --button-primary-bg-color-hover: var(--primary-color-hover);
}

.dark {
  --background: var(--black);
  --text-color: var(--white);
  --link-color: var(--white);
  --link-color-active: var(--blue-light);
  --header-bg-color: var(--black);
  --footer-bg-color: var(--black);
  // --button-primary-bg-color: var(--primary-color);
  // --button-primary-bg-color-hover: var(--primary-color-hover);
}
